/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



/* 




.bg_pic{
  
    width: 120vw;
    height: 110vh;
    background-image: url(../public/assets/register.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
  
  
} */
